.grid{
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-gap: 5px;
    place-items: center;
}

@media only screen and (max-width: 768px){
    .grid{
        grid-template-columns: repeat(2, 1fr)
    }
}